#edit-icon:hover{
    text-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
#delete-icon:hover{
    text-shadow: 0 0 5px red,
                0 0 25px red,
                0 0 50px red,
                0 0 100px red;
}

.my-list{
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
button:disabled{
    color: gray;
    cursor: not-allowed;
}